#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.custom-textfield {
  width: calc(100% - 16px);
  max-width: 300px;
}

.grid-item {
  flex: 1;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.lines {
  list-style-type: none;
  padding: 0;
}

.lines li {
  margin-bottom: 0.5rem;
  text-align: left; /* Ensure list items are left-aligned */
}

.center-align {
  text-align: center;
}

.dictionary li {
  text-align: left; /* Ensure dictionary items are left-aligned */
}

.selected-poem {
  background-color: yellow; /* Change this to your desired color */
}

.selected-poem.pill {
  background-color: yellow; /* Change this to your desired color */
}