#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.custom-textfield {
  width: calc(100% - 16px);
  max-width: 300px;
}

.grid-item {
  flex: 1;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.lines {
  list-style-type: none;
  padding: 0;
}

.lines li {
  margin-bottom: 0.5rem;
}