#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.custom-textfield {
  width: calc(100% - 16px);
  max-width: 300px;
}

.grid-item {
  flex: 1
}

.left-align {
  text-align: left;
}

.righ-align {
  text-align: right;
}